@font-face {
    font-family: "flaticon";
    src: url("../fonts/coffee/flaticon.ttf") format("truetype"),
url("../fonts/coffee/flaticon.woff") format("woff"),
url("../fonts/coffee/flaticon.woff2") format("woff2"),
url("../fonts/coffee/flaticon.eot") format("embedded-opentype"),
url("../fonts/coffee/flaticon.svg") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-coffee-cup:before {
    content: "\f101";
}
.flaticon-coffee-pack:before {
    content: "\f102";
}
.flaticon-coffee-beans:before {
    content: "\f103";
}
