{% extends 'shop/base.html' %}
{% load static %}
{% load calc_price %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row line-bg"></div>
</div>
<div class="container-fluid announcement">
    <div class="container">
        <div class="row text-center">
            <p>БЕЗКОШТОВНА ДОСТАВКА Новою Поштою - від 400 грн, кур'єром по Кривому Рогу - від 800 грн. Для роздрібних замовлень.</p>
        </div>
    </div>
</div>
<div class="container-fluid bg">
    <div class="container">
        <div class="row breadcrumbs-custom">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Кофе</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <h2>{{ title }}</h2>
        </div>
        <div class="row">
            <p class="quote">{{ subtitle }}</p>
        </div>
        <div class="row mt-5">
            <ul class="nav justify-content-center nav-custom">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'coffee_catalog' %}">Кофе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Не кофе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Аксессуары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Подписка</a>
                </li>
            </ul>
        </div>
        <div class="row justify-content-around">
            {% for item in coffee %}
           <div class="card  mt-3 text-center ms-2 card-custom" style="width: 18rem;">
               <a href="{{ item.get_absolute_url }}" id="{{ item.id }}_url">
                   <img src="{{ item.main_image.url }}" class="card-img-top" id="{{ item.id }}_image" alt="{{ item.name }}">
               </a>
               {% if item.new %}
                    <span class="mark">Новинка!</span>
               {% endif %}
               {% if item.sale_percent %}
                    <span class="mark">Товар тижня!</span>
               {% endif %}
               <div class="card-body">
                   <h5 class="card-title text-center" id="{{ item.id }}_name">
                       <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                   </h5>
                   <p>{{ item.description|truncatechars:50 }}</p>
                   <div class="d-flex justify-content-between card-option mb-2">
                       <label for="{{ item.id }}_packing" class="text-start">Вес:</label>
                       <select class="form-select packing" aria-label="packing" id="{{ item.id }}_packing">
                           {% for key, value in item.options.packing.items %}
                                <option value="{{ key }}" >{{ key }} г</option>
                           {% endfor %}
                       </select>
                   </div>
                   <div class="d-flex justify-content-between card-option mb-2">
                       <label for="{{ item.id }}_roasting" class="text-start">Обжарка:</label>
                       <select class="form-select roasting" aria-label="roasting" id="{{ item.id }}_roasting">
                           {% for key, value in item.options.roasting.items %}
                                {% if value.qty %}
                                    <option value="{{ key }}" id="{{ i.id }}">{{ key }}</option>
                                {% endif %}
                           {% endfor %}
                       </select>
                   </div>
                   <div class="d-flex justify-content-between card-option mb-4">
                       <label class="text-start">Помол:</label>
                       {% for key, value in item.options.roasting.items %}
                            <select class="form-select {{ item.id }}_grind hidden" aria-label="grind" name="{{ key }}">
                               {% for i in value.grind %}
                                    <option value="{{ i }}">{{ i }}</option>
                               {% endfor %}
                           </select>
                       {% endfor %}
                   </div>
                   <div class="d-flex justify-content-center amount mb-4">
                       <button class="btn btn-primary" value="-" onclick="qty_down('{{ item.id }}_qty')">-</button>
                       <input type="number" class="form-control ms-3" min="1" max="99" value="1" id="{{ item.id }}_qty">
                       <button class="btn btn-primary" value="+" onclick="qty_up('{{ item.id }}_qty')">+</button>
                   </div>
                   <div class="d-flex justify-content-between mb-2">
                       <div class="price">
                           {% for key, value in item.options.packing.items %}
                                {% if item.sale_percent %}
                                    <span class="fw-bold hidden {{ item.id }}_price" id="{{ key }}">{% calc_price value item.sale_percent %}</span>
                                {% else %}
                                    <span class="fw-bold hidden {{ item.id }}_price" id="{{ key }}">{{ value }}</span>
                                {% endif %}
                           {% endfor %}
                           <span>грн</span>
                           {% for key, value in item.options.packing.items %}
                                {% if item.sale_percent %}
                                    <span class="old-price hidden {{ item.id }}_price" id="{{ key }}_old">{{ value }} грн</span>
                                {% endif %}
                           {% endfor %}
                       </div>
                       <button class="add_cart btn btn-primary px-4 py-2" id="{{ item.id }}_addcart"
                               onClick="add_cart(this.id, {{ item.category.pk }})">Купить</button>
                   </div>
               </div>
           </div>
           {% endfor %}
        </div>
        <div class="row mt-5">
            <h3>Как выбрать кофе арабика в зернах</h3>
            <p>Основные сорта арабики определяются в зависимости от региона произрастания.
                Также имеет значение способ сбора и обработки зерен.</p>
            <ul class="coffee-text">
                <li><span class="fw-bold">Желтый бурбон</span> — один самых необычных сортов. Зерна покрыты тонкой оболочкой и высушиваются прямо
                    на ветке, что придает напитку богатый вкус без малейшей кислинки.</li>
                <li><span class="fw-bold">Бурунди</span> — кофе с ярким ароматом и кислинкой.</li>
                <li><span class="fw-bold">Кения</span> — произрастает в высокогорьях Килиманджаро и считается премиальным сортом.
                    У этого кофе в зернах восхитительный цитрусово-ягодный вкус и легкое винное послевкусие.</li>
                <li><span class="fw-bold">Бразилия Сантос</span> — этот сорт стал эталоном хорошего напитка. Ведь сладковатый аромат, едва
                    уловимая кислинка и шоколадное послевкусие — именно то, что большинство людей ценят в кофе.
                    Бразилия Сантос делится еще на 8 подвидов: некоторые сорта придают смеси больше крепости.</li>
                <li><span class="fw-bold">Бали</span> — выращенный на одноименном острове сорт очень высокого качества и имеет специфический аромат.</li>
                <li><span class="fw-bold">Эфиопия Йоргачеф</span> — самый ароматный сорт. У него очень деликатный вкус с легкой кислинкой и винным
                    послевкусием.</li>
                <li><span class="fw-bold">Эфиопия Сидамо</span> — фруктовые оттенки аромата, нотки бергамота и ванили, сладковатый вкус и
                    едва заметная кислинка — основные черты этого мягкого сорта кофе.</li>
                <li><span class="fw-bold">Перу</span> — органический сорт, произрастает в высокогорьях Анд. Основные признаки:
                    легкий аромат и вкус, нежные фруктовые нотки.</li>
                <li><span class="fw-bold">Замбия</span> — интересный вкус и аромат напитку придают нотки апельсина, карамели и трав.</li>
                <li><span class="fw-bold">Никарагуа</span> — сорт с богатым сливочно-ореховым вкусом и нотками шоколада.</li>
                <li><span class="fw-bold">Индия Мансунд Малабар</span> — лучший индийский кофе с ярким ароматом, сладким вкусом и легкой
                    горчинкой.</li>
                <li><span class="fw-bold">Коста Рика</span> — кофеманы описывают вкус напитка, как яркий и огненный. В нем чувствуются винные нотки,
                    специи и кислинка.</li>
            </ul>
        </div>
    </div>
</div>
{% include 'shop/inc/_help_form.html' %}
{% endblock %}