{% extends 'shop/base.html' %}
{% load static %}
{% load calc_price %}
{% block title %}Товар{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row line-bg"></div>
    </div>
    <div class="container-fluid bg">
        <div class="container">
        <div class="row breadcrumbs-custom mt-5">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Головна</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'coffee_catalog' slug=product.category.slug %}">{{ product.category.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 mb-3 img-card">
                <a href="{{ product.get_absolute_url }}" id="{{ product.id }}_url">
                    <img src="{{ product.main_image.url }}" class="d-block w-100" id="{{ product.id }}_image" alt="{{ product.name }}">
                </a>
                {% if product.new %}
                    <span class="mark">Новинка!</span>
               {% endif %}
               {% if product.sale_percent %}
                    <span class="mark">Товар тижня!</span>
               {% endif %}
            </div>
            <div class="col-md-5 offset-md-1">
                <h2 id="{{ product.id }}_name">{{ product.name }}</h2>
                <h3 class="mt-3">
                    {% for key, value in product.options.packing.items %}
                        <span class="fw-bold hidden {{ product.id }}_price" id="{{ key }}">
                            {% if product.sale_percent %}
                                {% calc_price value product.sale_percent %}
                            {% else %}
                                {{ value }}
                            {% endif %}
                        </span>
                    {% endfor %}
                    <span>грн</span>
                    {% for key, value in product.options.packing.items %}
                        {% if product.sale_percent %}
                            <span class="old-price hidden {{ product.id }}_old_price" id="{{ key }}_old">{{ value }} грн</span>
                        {% endif %}
                    {% endfor %}
                </h3>
                <div class="mb-3 col-7">
                    <label for="{{ product.id }}_packing" class="text-start">Вага:</label>
                    <select class="form-select packing" aria-label="packing" id="{{ product.id }}_packing">
                        {% for key, value in product.options.packing.items %}
                            <option value="{{ key }}" >{{ key }} г</option>
                        {% endfor %}
                    </select>
                </div>
                {% if product.options.roasting %}
                    <div class="mb-3 col-7">
                        <label for="{{ product.id }}_roasting" class="text-start">Обсмаження:</label>
                        <select class="form-select roasting" aria-label="roasting" id="{{ product.id }}_roasting">
                            {% for key, value in product.options.roasting.items %}
                                {% if value.qty %}
                                    <option value="{{ key }}" id="{{ i.id }}">{{ key }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                {% if product.options.roasting %}
                    <div class="mb-3 col-7">
                        <label class="text-start">Помел:</label>
                           {% for key, value in product.options.roasting.items %}
                                <select class="form-select {{ product.id }}_grind hidden" aria-label="grind" name="{{ key }}">
                                   {% for i in value.grind %}
                                        <option value="{{ i }}">{{ i }}</option>
                                   {% endfor %}
                               </select>
                           {% endfor %}
                    </div>
                {% endif %}
                <div class="d-flex col-7 mt-3 justify-content-between flex-wrap">
                    <div class="amount-item d-flex mb-3">
                        <button class="btn btn-primary" value="-" onclick="qty_down('{{ product.id }}_qty')">-</button>
                        <input type="number" class="form-control text-center ms-1" min="1" max="99" value="1" id="{{ product.id }}_qty">
                        <button class="btn btn-primary" value="+" onclick="qty_up('{{ product.id }}_qty')">+</button>
                    </div>
                    <button class="add_cart btn btn-primary px-4 py-2 mb-3" id="{{ product.id }}_addcart"
                               onClick="add_cart(this.id, {{ product.category.pk }})">Купити</button>
                </div>
                <div class="row">
                    {% for key, value in product.options.feature.items %}
                        <p><span class="fw-bold">{{ key }}: </span>{{ value }}</p>
                    {% endfor %}
                    <p><span class="fw-bold">Опис: </span>{{ product.description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Аксессуары</h4>
            <div class="row">
                <div class="col-md-12 slick-slider">
                    {% for i in product.accessory.all %}
                    <div class="card mt-3 text-center ms-2" style="width: 18rem;">
                        <a href="#">
                            <img src="{{ i.images.first.image.url }}" class="card-img-top" alt="{{ i.name }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ i.name|truncatechars:22 }}</h5>
                            <div class="d-flex justify-content-center amount mb-4">
                                <button class="btn btn-primary">-</button>
                                <input type="number" class="form-control ms-3" value="1" min="1"  max="{{ i.stock }}">
                                <button class="btn btn-primary">+</button>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                            <div class="price">
                                <span class="fw-bold">{{ i.price }}</span>
                                <span>грн</span>
                            </div>
                            <a href="#" class="btn btn-primary px-4 py-2">Купить</a>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

